<a [href]="repo.html_url" target="_blank">
  <mat-card class="repo-card ">
    <mat-card-header>
      <mat-card-title>{{repo.name}}</mat-card-title>
      <div *ngIf="repo.language">
        <mat-card-subtitle>{{repo.language}}</mat-card-subtitle>
      </div>
      <div *ngIf="!repo.language">
        <mat-card-subtitle>Unknown</mat-card-subtitle>
      </div>
    </mat-card-header>
  </mat-card>
</a>