mat-card-title, mat-card-subtitle{
    // display: flex;
    // justify-content: center;
    // align-items: center;   
    margin-top: 5px;
}
mat-card-title{
    font-weight: bold;
}
a{
    text-decoration: none;
}