<div class="content" *ngIf=" user && repos">
  <app-user [user]="user"></app-user>
  <div class="repos">
    <div *ngFor="let repo of repos" class="card-array">
      <app-repo [repo]="repo"></app-repo>
    </div>
  </div>
</div>