@import '../../styles';
.content{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: row wrap;
   
    .repos{
        margin:2%;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-flow: row wrap;
        .card-array {
            margin: 1%;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            background-color: $card-color;
        }
    }
    
}