@import '../styles';
.app-content{
    min-width: 100%;
    min-height: 100%;
    background-color: $site-background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column wrap;
}