@import '../../../styles';

.user-card{
    min-width: 500px;  
    max-width: 500px;      
}
.card {
    margin: 1%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: $card-color;
    .mat-card-header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
}
.header-image {
    width: 100px;
    height: 100px;
    border-bottom: 10%;
    background-size: cover;
}

mat-card-title, mat-card-subtitle{
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-top: 5px;
}
mat-card-title{
    font-weight: bold;
}
