<mat-card class="user-card card">
  <mat-card-header class="mat-card-header">
    <a [href]="user.html_url" target="_blank">
      <img mat-card-avatar [src]="user.avatar_url" class="header-image">
    </a>
    <mat-card-title>{{user.name}}</mat-card-title>
    <mat-card-subtitle>{{user.location}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{user.bio}}
  </mat-card-content>
</mat-card>