/* You can add global styles to this file, and also import other style files */
$card-color: rgb(255, 255, 255);
$site-background-color: rgb(216, 216, 216);

html, body { 
    height: 100%; 
    width: 100%;
}
body { 
    background-color: $site-background-color;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}