@import '../../styles';
.content{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.card {
    min-width: 150%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: $card-color;
}

.header-image {
    width: 100px;
    height: 100px;
    border-bottom: 10%;
    background-image: url('https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png');
    background-size: cover;
}

mat-card-title, mat-card-subtitle{
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-top: 5px;
}
mat-card-title{
    font-weight: bold;
}
.form-field{
    max-width: 170px;
}