<div class="content">
  <mat-card class="card">
    <div mat-card-avatar class="header-image"></div>
    <mat-card-header class="mat-card-header">
      <mat-card-title>GitHub Finder</mat-card-title>
      <mat-card-subtitle>type the username bellow: </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form action="">
        <mat-form-field class="form-field">
          <input matInput type="text" placeholder="GitHub username" [value]="username" (input)="username = $event.target.value">
          <button mat-button *ngIf="username" matSuffix mat-icon-button (click)="username=''">
            X
          </button>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [routerLink]="['', username]" class="btn btn-outline-primary">Find!</button>
    </mat-card-actions>
  </mat-card>
</div>